@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
}
