@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=EB+Garamond&display=swap');

body {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    font-weight: 500;
}
