# Copied from https://github.com/urbangrammarai/data_processing/blob/master/.github/workflows/build_book.yml
name: Build Jupyter book
on:
  push:
    branches:
      - master
jobs:
  build-html-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Setup Miniconda
        uses: goanpeca/setup-miniconda@v1
        with:
          auto-update-conda: true
          auto-activate-base: false
          miniconda-version: "latest"
          python-version: 3.7
          environment-file: infrastructure/ga_environment.yml
          activate-environment: book

      - name: Build HTML
        shell: bash -l {0}
        continue-on-error: false
        run: |
          make html
      - name: Commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add docs
          git commit -m "GA build of book HTML" -a --allow-empty
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          force: true
